<p-dialog [(visible)]="isAddEventClicked"
          header="Créer un événement"
          [style]="{width: '80vw'}">
  <!--<div>
    <h2>Adresse de départ</h2>
    <div>
      <img src="assets/map-marker-alt-solid.svg" alt="" class="icon"/>
      <p class="bold-text">
        {{visibleCarpool.carpoolDepartureStreet}}<br/>
        {{visibleCarpool.carpoolDepartureCity}} {{visibleCarpool.carpoolDepartureZipcode}}<br/>
      </p>
    </div>
    <p>Conducteur : <span class="bold-text">{{visibleCarpool.conductor.firstname}} {{visibleCarpool.conductor.name}} :
      {{visibleCarpool.conductorId}}, {{visibleCarpool.conductor.phoneNumber}}</span></p>
    <div style="text-align: right"
         *ngIf="visibleEvent.dateHourStart > currentTimestamp && visibleCarpool.carpoolRemainingPlaces > 0">
      <span class="bold-text">{{visibleCarpool.carpoolRemainingPlaces}}</span> places restantes
    </div>

    <h3>Participants</h3>
    <p-table [value]="carpoolParticipants">
      <ng-template pTemplate="body" let-participant>
        <tr>
          <td>{{participant.firstname}} {{participant.name}}
            - {{participant.mail}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      *ngIf="visibleEvent.dateHourStart > currentTimestamp && visibleCarpool.carpoolRemainingPlaces > 0 &&
              !currentUserParticipateToCarpools.get(visibleCarpool.carpoolId) && !currentUserParticipateToCarpool &&
              currentUser.mail !== visibleCarpool.conductorId && currentUserParticipateToEvents.get(visibleEvent.eventId)"
      label="Participer au covoiturage" (onClick)="participateToCarpool(visibleCarpool)"
      icon="pi pi-check" styleClass="p-button-success"
      [style]="{'margin-left': '.5em'}"></p-button>
    <p-button
      *ngIf="visibleEvent.dateHourStart > currentTimestamp && currentUserParticipateToCarpools.get(visibleCarpool.carpoolId)"
      label="Se désinscrire du covoiturage" (onClick)="unsubscribeToCarpool(visibleCarpool)"
      icon="pi pi-check" styleClass="p-button-danger"
      [style]="{'margin-left': '.5em'}"></p-button>
  </ng-template>-->
</p-dialog>
