<p-toast></p-toast>
<p-progressSpinner *ngIf="!isLoadedData"></p-progressSpinner>
<!-- region Mes événements-->
<p-tabView *ngIf="isLoadedData">
  <p-tabPanel header="Validés">
    <div class="p-d-flex">
      <div class="p-mr-4">
        <h2> Mes evenements passés</h2>
        <div *ngIf="pastEventsValidated.length === 0" style="text-align: center"><p>Il n'y a aucun événement passés.</p>
        </div>
        <div *ngFor="let event of pastEventsValidated">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>

      <div class="p-mr-4">
        <h2> Mes evenements en cours</h2>
        <div *ngIf="currentEventsValidated.length === 0" style="text-align: center"><p>Il n'y a aucun événement en
          cours.</p></div>
        <div *ngFor="let event of currentEventsValidated">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>

      <!-- futur events -->
      <div class="p-mr-4">
        <h2> Mes evenements futurs</h2>
        <div *ngIf="futureEventsValidated.length === 0" style="text-align: center"><p>Il n'y a aucun événement à
          venir.</p></div>
        <div *ngFor="let event of futureEventsValidated">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>
    </div>
    <!-- endregion-->
  </p-tabPanel>
  <p-tabPanel header="En attente">
    <div class="p-d-flex">
      <div class="p-mr-4">
        <h2> Mes evenements passés</h2>
        <div *ngIf="pastEventsWaiting.length === 0" style="text-align: center"><p>Il n'y a aucun événement passés.</p>
        </div>
        <div *ngFor="let event of pastEventsWaiting">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>

      <div class="p-mr-4">
        <h2> Mes evenements en cours</h2>
        <div *ngIf="currentEventsWaiting.length === 0" style="text-align: center"><p>Il n'y a aucun événement en
          cours.</p></div>
        <div *ngFor="let event of currentEventsWaiting">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>

      <!-- futur events -->
      <div class="p-mr-4">
        <h2> Mes evenements futurs</h2>
        <div *ngIf="futureEventsWaiting.length === 0" style="text-align: center"><p>Il n'y a aucun événement à
          venir.</p></div>
        <div *ngFor="let event of futureEventsWaiting">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>
    </div>
    <!-- endregion-->
  </p-tabPanel>

  <p-tabPanel header="Refusés">
    <div class="p-d-flex">
      <div class="p-mr-4">
        <h2> Mes evenements passés</h2>
        <div *ngIf="pastEventsRefused.length === 0" style="text-align: center"><p>Il n'y a aucun événement passés.</p>
        </div>
        <div *ngFor="let event of pastEventsRefused">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>

      <div class="p-mr-4">
        <h2> Mes evenements en cours</h2>
        <div *ngIf="currentEventsRefused.length === 0" style="text-align: center"><p>Il n'y a aucun événement en
          cours.</p></div>
        <div *ngFor="let event of currentEventsRefused">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>

      <!-- futur events -->
      <div class="p-mr-4">
        <h2> Mes evenements futurs</h2>
        <div *ngIf="futureEventsRefused.length === 0" style="text-align: center"><p>Il n'y a aucun événement à
          venir.</p></div>
        <div *ngFor="let event of futureEventsRefused">
          <app-my-event [event]="event" (isEventWasUpdated)="initEvents()" [currentUser]="currentUser"></app-my-event>
          <br/>
        </div>
      </div>
    </div>
    <!-- endregion-->
  </p-tabPanel>
</p-tabView>

<app-action-buttons></app-action-buttons>
