<p-dialog [(visible)]="isSignalZoneClicked"
          header="Signaler un lieu"
          [style]="{width: '80vw'}">
  <div class="card card-body auth-form">
    <form [formGroup]="registerForm" (ngSubmit)="signalZone()">

      <fieldset class="form-group">
        <input type="email" placeholder="Adresse" class="form-control" formControlName="zoneStreet" required>
        <span
          *ngIf="!registerForm.controls.zoneStreet.valid && registerForm.controls.zoneStreet.errors['required'] && registerForm.controls.zoneStreet.touched"
          class="help-block">Adresse obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <input type="text" placeholder="Code postal" class="form-control" formControlName="zoneZipcode" maxlength="5"
               required>
        <span
          *ngIf="!registerForm.controls.zoneZipcode.valid && registerForm.controls.zoneZipcode.errors['required'] && registerForm.controls.zoneZipcode.touched"
          class="help-block">Code postal obligatoire</span>
        <span
          *ngIf="!registerForm.controls.zoneZipcode.valid && registerForm.controls.zoneZipcode.errors['pattern'] && !registerForm.controls.zoneZipcode.errors['required']"
          class="help-block">Veuillez entrer un code postal valide</span>
      </fieldset>

      <fieldset class="form-group">
        <input type="text" placeholder="Ville" class="form-control" formControlName="zoneCity" required>
        <span
          *ngIf="!registerForm.controls.zoneCity.valid && registerForm.controls.zoneCity.errors['required'] && registerForm.controls.zoneCity.touched"
          class="help-block">Ville obligatoire</span>
      </fieldset>
      <fieldset class="form-group">
        <p-autoComplete placeholder="Niveau de pollution" [suggestions]="filteredItems"
                        (completeMethod)="filterItems($event)" [dropdown]="true" forceSelection="true"
                        formControlName="zonePollutionLevel" required>
        </p-autoComplete>
        <br/>
        <span
          *ngIf="!registerForm.controls.zonePollutionLevel.valid && registerForm.controls.zonePollutionLevel.errors['required'] && registerForm.controls.zonePollutionLevel.touched"
          class="help-block">Niveau de pollution obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <input placeholder="zoneDescription" type="text" class="form-control" formControlName="zoneDescription" required>
        <span
          *ngIf="!registerForm.controls.zoneDescription.valid && registerForm.controls.zoneDescription.errors['required'] && registerForm.controls.zoneDescription.touched"
          class="help-block">zoneDescription obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <p-fileUpload name="demo[]" (onSelect)="onSelect($event)"
                      multiple="true" accept="image/*" maxFileSize="1000000"
                      [showUploadButton]="false">
        </p-fileUpload>
      </fieldset>

      <fieldset class="form-group">
        <button pButton type="submit" label="Signaler ce lieu" class="p-button-secondary"
                [disabled]="!registerForm.valid"></button>
      </fieldset>
      <p>{{loading}}</p>
      <p>{{message}}</p>
    </form>
  </div>

  <!--<div>
    <h2>Adresse de départ</h2>
    <div>
      <img src="assets/map-marker-alt-solid.svg" alt="" class="icon"/>
      <p class="bold-text">
        {{visibleCarpool.carpoolDepartureStreet}}<br/>
        {{visibleCarpool.carpoolDepartureCity}} {{visibleCarpool.carpoolDepartureZipcode}}<br/>
      </p>
    </div>
    <p>Conducteur : <span class="bold-text">{{visibleCarpool.conductor.firstname}} {{visibleCarpool.conductor.name}} :
      {{visibleCarpool.conductorId}}, {{visibleCarpool.conductor.phoneNumber}}</span></p>
    <div style="text-align: right"
         *ngIf="visibleEvent.dateHourStart > currentTimestamp && visibleCarpool.carpoolRemainingPlaces > 0">
      <span class="bold-text">{{visibleCarpool.carpoolRemainingPlaces}}</span> places restantes
    </div>

    <h3>Participants</h3>
    <p-table [value]="carpoolParticipants">
      <ng-template pTemplate="body" let-participant>
        <tr>
          <td>{{participant.firstname}} {{participant.name}}
            - {{participant.mail}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      *ngIf="visibleEvent.dateHourStart > currentTimestamp && visibleCarpool.carpoolRemainingPlaces > 0 &&
              !currentUserParticipateToCarpools.get(visibleCarpool.carpoolId) && !currentUserParticipateToCarpool &&
              currentUser.mail !== visibleCarpool.conductorId && currentUserParticipateToEvents.get(visibleEvent.eventId)"
      label="Participer au covoiturage" (onClick)="participateToCarpool(visibleCarpool)"
      icon="pi pi-check" styleClass="p-button-success"
      [style]="{'margin-left': '.5em'}"></p-button>
    <p-button
      *ngIf="visibleEvent.dateHourStart > currentTimestamp && currentUserParticipateToCarpools.get(visibleCarpool.carpoolId)"
      label="Se désinscrire du covoiturage" (onClick)="unsubscribeToCarpool(visibleCarpool)"
      icon="pi pi-check" styleClass="p-button-danger"
      [style]="{'margin-left': '.5em'}"></p-button>
  </ng-template>-->
</p-dialog>
