<p-toast></p-toast>
<p-dialog [(visible)]="isSignalZoneClicked"
          header="Signaler un lieu"
          [style]="{width: '80vw'}">
  <p-progressSpinner *ngIf="!isLoadedData"></p-progressSpinner>
  <div *ngIf="isLoadedData" class="card card-body">
    <form [formGroup]="registerForm" (ngSubmit)="signalZone()">
      <fieldset class="form-group">
        <input type="text" placeholder="Adresse" class="form-control" formControlName="zoneStreet" required>
        <span
          *ngIf="!registerForm.controls.zoneStreet.valid && registerForm.controls.zoneStreet.errors['required'] && registerForm.controls.zoneStreet.touched"
          class="help-block">Adresse obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <input type="text" placeholder="Code postal" class="form-control" formControlName="zoneZipcode" maxlength="5"
               required>
        <span
          *ngIf="!registerForm.controls.zoneZipcode.valid && registerForm.controls.zoneZipcode.errors['required'] && registerForm.controls.zoneZipcode.touched"
          class="help-block">Code postal obligatoire</span>
        <span
          *ngIf="!registerForm.controls.zoneZipcode.valid && registerForm.controls.zoneZipcode.errors['pattern'] && !registerForm.controls.zoneZipcode.errors['required']"
          class="help-block">Veuillez entrer un code postal valide</span>
      </fieldset>

      <fieldset class="form-group">
        <input type="text" placeholder="Ville" class="form-control" formControlName="zoneCity" required>
        <span
          *ngIf="!registerForm.controls.zoneCity.valid && registerForm.controls.zoneCity.errors['required'] && registerForm.controls.zoneCity.touched"
          class="help-block">Ville obligatoire</span>
      </fieldset>
      <fieldset class="form-group">
        <p-autoComplete placeholder="Niveau de pollution" [suggestions]="filteredItems"
                        (completeMethod)="filterItems($event)" [dropdown]="true" forceSelection="true"
                        formControlName="zonePollutionLevel" required>
        </p-autoComplete>
        <br/>
        <span
          *ngIf="!registerForm.controls.zonePollutionLevel.valid && registerForm.controls.zonePollutionLevel.errors['required'] && registerForm.controls.zonePollutionLevel.touched"
          class="help-block">Niveau de pollution obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <input placeholder="Description" type="text" class="form-control" formControlName="zoneDescription" required>
        <span
          *ngIf="!registerForm.controls.zoneDescription.valid && registerForm.controls.zoneDescription.errors['required'] && registerForm.controls.zoneDescription.touched"
          class="help-block">zoneDescription obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <p-fileUpload name="demo[]" (onSelect)="onSelect($event)"
                      multiple="true" accept="image/*" maxFileSize="1000000"
                      [showUploadButton]="false">
        </p-fileUpload>
      </fieldset>

      <div style="text-align: right !important;">
        <fieldset class="form-group">
          <button pButton type="submit" label="Signaler ce lieu" class="p-button-secondary"
                  [disabled]="!registerForm.valid"></button>
        </fieldset>
      </div>
      <p-progressSpinner *ngIf="!isCreated"></p-progressSpinner>
    </form>
  </div>
</p-dialog>
