<p-toast></p-toast>
<p-dialog [(visible)]="isUpdateEventClicked"
          header="Modifier l'événement {{visibleEventValue.eventTitle}}"
          [style]="{width: '80vw'}">
  <div class="card card-body">
    <form [formGroup]="registerForm" (ngSubmit)="createEvent()">
      <fieldset class="form-group">
        <p-dropdown [options]="zones" optionLabel="adress" (onChange)="onSelectZone($event)" [selectId]="selectedZoneAdress" [dataKey]="selectedZoneAdress"
                    placeholder="Lieu de l'événement" formControlName="zoneId"></p-dropdown>
        <br/>
        <span
          *ngIf="!registerForm.controls.zoneId.valid && registerForm.controls.zoneId.errors['required'] && registerForm.controls.zoneId.touched"
          class="help-block">Lieu obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <input type="text" placeholder="Titre" class="form-control" formControlName="eventTitle" required>
        <span
          *ngIf="!registerForm.controls.eventTitle.valid && registerForm.controls.eventTitle.errors['required'] && registerForm.controls.eventTitle.touched"
          class="help-block">Titre obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <input placeholder="Description" type="text" class="form-control" formControlName="eventDescription" required>
        <span
          *ngIf="!registerForm.controls.eventDescription.valid && registerForm.controls.eventDescription.errors['required'] && registerForm.controls.eventDescription.touched"
          class="help-block">Description obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <input type="text" placeholder="Nombre de places" class="form-control" formControlName="eventMaxNbPlaces"
               maxlength="5"
               required>
        <span
          *ngIf="!registerForm.controls.eventMaxNbPlaces.valid && registerForm.controls.eventMaxNbPlaces.errors['required'] && registerForm.controls.eventMaxNbPlaces.touched"
          class="help-block">Nombre de places obligatoire</span>
        <span
          *ngIf="!registerForm.controls.eventMaxNbPlaces.valid && registerForm.controls.eventMaxNbPlaces.errors['pattern'] && !registerForm.controls.eventMaxNbPlaces.errors['required']"
          class="help-block">Veuillez entrer un nombre de places valide</span>
      </fieldset>

      <fieldset class="form-group">
        <p-calendar placeholder="Date/Heure de début" [showTime]="true" formControlName="dateHourStart"
                    required></p-calendar>
        <br/>
        <span
          *ngIf="!registerForm.controls.dateHourStart.valid && registerForm.controls.dateHourStart.errors['required'] && registerForm.controls.dateHourStart.touched"
          class="help-block">Date/Heure de début obligatoire</span>
      </fieldset>

      <fieldset class="form-group">
        <p-calendar placeholder="Date/Heure de fin" [showTime]="true" formControlName="dateHourEnd"
                    required></p-calendar>
        <br/>
        <span
          *ngIf="!registerForm.controls.dateHourEnd.valid && registerForm.controls.dateHourEnd.errors['required'] && registerForm.controls.dateHourEnd.touched"
          class="help-block">Date/Heure de fin obligatoire</span>
      </fieldset>

      <fieldset class="form-group" *ngIf="selectedZonePictures">
        <label>Image de l'événement</label>
        <p-listbox [options]="selectedZonePictures" optionLabel="path" optionValue="pictureId"
                   formControlName="eventPitureId" [filter]="false" [multiple]="false">
          <ng-template pTemplate="item" let-picture>
            <img src="assets/pictures/{{picture['path']}}" class="list-icon" alt="zone picture"/>
          </ng-template>
        </p-listbox>
      </fieldset>

      <div style="text-align: right !important;">
        <fieldset class="form-group">
          <button pButton type="submit" label="Modifier l'événement" class="p-button-secondary"
                  [disabled]="!registerForm.valid"></button>
        </fieldset>
      </div>
      <p>{{loading}}</p>
    </form>
  </div>
</p-dialog>
